body{
	background: #F2F2F2;
}
.sbanner{
	margin-top: 60px;
	position: relative;
}
.sbanner h2{
	width: 100%;
	height: 48px;
	line-height: 48px;
	font-size: 40px;
	color: #fff;
	text-align: center;
	position: absolute;
	left: 0;
	top: calc(50% - 24px);
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
	.sbanner h2{
		font-size: 30px;
	}
}
@media only screen and (max-width: 768px) {
	.sbanner h2{
		font-size: 24px;
	}
}
.wrap{
	padding: 30px 0 30px;
}
.wrap .row>div{
	padding: 0;
}
.wrap .neirong{
	padding-bottom: 30px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.wrap .neirong>div{
	width: 100%;
	padding: 30px;
	background: #FFFFFF;
	border: 1px solid #f0f2f5;
	overflow: hidden;
}
.wrap .neirong .media{
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #f0f2f5;
}
.wrap .neirong .media-left{
	width: 180px;
	padding-right: 20px;
}
.wrap .neirong .media-body h4{
	margin-bottom: 20px;
}
.wrap .neirong .media-body h4 a{
	height: 26px;
	line-height: 26px;
	font-size: 22px;
	text-shadow: rgba(0,0,0,.15) 0 0 1px;
	color: #464646;
}
.wrap .neirong .media-body .des{
	font-size: 13px;
	color: #6a6a6a;
	margin-bottom: 10px;
}
.wrap .neirong .media-body .info{
	font-size: 16px;
	color: #a3afb7;
}
.wrap .neirong .media-body .info span{
	margin-left: 10px;
}
.wrap .neirong .media-body .info span:first-of-type{
	margin-left: 0;
}
.wrap .neirong .media-body .info span i{
	margin-right: 5px;
}
.wrap .met-news-bar{
	margin-left: 30px;
	padding: 20px;
	background: #ffffff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.wrap .met-news-bar form .search{
	position: relative;
	margin-bottom: 20px;
}
.wrap .met-news-bar form .search input[type="text"]{
	display: block;
	border-radius: 200px;
	width: 100%;
	height: 36px;
	line-height: 36px;
	padding: 6px 15px;
	padding-right: 50px;
	font-size: 14px;
	font-family: inherit;
	color: #76838f;
	border: 1px solid #e4eaec;
}
.wrap .met-news-bar form .search button{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding: 0 10px;
	background: none;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.wrap .neirong .media-body h4{
		margin-bottom: 10px;
	}
	.wrap .neirong .media-body h4 a{
		height: 21px;
		line-height: 21px;
		font-size: 18px;
	}
	.wrap .met-news-bar{
		margin-left: 0;
	}
}
@media only screen and (max-width: 768px) {
	.wrap{
		padding: 0;
	}
	.wrap>div{
		padding: 0;
	}
	.wrap .neirong>div{
		padding: 20px 10px;
	}
	.wrap .neirong .media-left{
		width: 110px!important;
		padding-right: 10px;
	}
	.wrap .neirong .media-body h4{
		margin-bottom: 5px;
	}
	.wrap .neirong .media-body h4 a{
		height: 19px;
		line-height: 19px;
		font-size: 16px;
	}
	.wrap .row>div{
		padding: 0 15px;
	}
	.wrap .met-news-bar{
		margin-left: 0;
	}
}
.wrap .met-news-bar .recommend{
	margin: 20px 0;
	padding: 20px 0;
	border-top: 1px solid #f0f2f5;
	border-bottom: 1px solid #f0f2f5;
	
}
.wrap .met-news-bar .recommend h3{
	font-size: 18px;
	font-weight: 300;
	color: #37474f;
	margin: 0;
	text-shadow: rgba(0,0,0,.15) 0 0 1px;
}
.wrap .met-news-bar .recommend ul{
	margin-top: 10px;
}
.wrap .met-news-bar .recommend ul li{
	padding: 10px 15px;
	border: 1px solid #e4eaec;
	margin-bottom: -1px;
}
.wrap .met-news-bar .recommend ul li:first-of-type{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.wrap .met-news-bar .recommend ul li:last-of-type{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.wrap .met-news-bar .column{
	margin-bottom: 11px;
}
.wrap .met-news-bar .column li{
	margin-bottom: 10px;
}
.wrap .met-news-bar .column li a{
	font-size: 16px;
	color: #464646;
}
.wrap .met-news-bar .column li:nth-of-type(3) a{
	border-bottom: 1px solid;
}
